* {
    box-sizing: border-box;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Menu Bar */

.navbar {
    background: linear-gradient(90deg, #0085FF 50%, #000 50%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 200px;
    z-index: 1;
}

/* #navbar_logo img{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
} */

#navbar_logo {
    display: flex;
    background: transparent;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    background: transparent;
    display: flex;
    align-items: center;
    list-style: none;
    z-index: 1;
}

.navbar_item {
    background: transparent;
    height: 100px;
}

.navbar_links {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: #0085FF;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background-color: #000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle {
        background: transparent;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero {
    background: linear-gradient(90deg, #0085FF 50%, #000 50%);
    padding: 150px 0;
}

.hero_container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 80%;
    padding: 30px;
    color: #fff;
}

.hero_intro {
    background: transparent;
}

.hero_heading {
    background: transparent;
    font-family: 'Righteous', cursive;;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 12px;
}

.hero_description {
    background: transparent;
    font-size: 20px;
    margin-bottom: 10rem;
}

/* Social Media */

.social_icons ul {
    background: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 1;
}

.social_icons ul li {
    background: transparent;
    list-style: none;
    margin: 10px;
}

i {
    background: transparent;
    color: #000;
}

.social_icons ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    transition: 0.5s;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social_icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social_icons ul li:nth-child(1) a:hover {
    background-color: #00c300;
}

.social_icons ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social_icons ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

/* @media screen and (max-width: 480px) {
    .social_icons ul {
        position: relative;
    }
} */

/* About Section */
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 60vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 200px;
}

.main_img_container {
    text-align: center;
}

#main_img {
    height: 80%;
    width: 80%;
}

.main_content h4 {
    text-align: center;
    color: #0085FF;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}

@media screen and (max-width:768px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        padding: 50px;
    }

    .main_content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .main_content h4 {
        margin-top: 1rem;
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .main_content h4 {
        margin-top: 1rem;
        font-size: 12px;
    }
}

/* Skills Section */
.skill_container {
    background: #fff;
    margin: 0 auto;
    text-align: center;
    height: 50vh;
    z-index: 1;
    width: 60%;
    max-width: 1300px;
    padding: 0 200px;
    border-radius: 3rem;
    border-bottom-width: 1px solid;
    box-shadow: 5px 10px #888888;
}

.skill_content {
    background: transparent;
}

.skill_content h4 {
    text-align: center;
    color: #0085FF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2rem 0 1rem 0;
    background: transparent;
}

.skill_content h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    background: transparent;
}

.ui-icons {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem;
}

.ui-icons img {
    width: 60px;
    height: 60px;
    background: transparent;
}

.illustration-icons {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem;
}

.illustration-icons img {
    width: 60px;
    height: 60px;
    background: transparent;
}

@media screen and (max-width:1200px) {
    .skill_container {
        width: 100%;
        margin: 0 auto;
        height: 50vh;
        padding: 0;
    }

    .skill_content h3 {
        font-size: 20px;
    }

    .ui-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .illustration-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}



/* @media screen and (max-width:480px) {
    .skill_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
} */

/* Contact Section */
.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact_container p {
    font-size: 12px;
    margin-top: 2rem;
}

.contact_container h2 {
    margin-bottom: 2rem;
}

/* Footer Section */
.footer_container {
    background: #000;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer_container p {
    background: transparent;
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .footer_container {
        width: 100%;
        margin: 0;
    }
}